.nav-brand {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.nav-brand:hover {
  opacity: 0.7;
  color: #fff;
  text-decoration: none;
}
#logo {
  margin-right: 5px;
}
.componentContainer {
  margin-top: 110px;
  padding: 0 30px 0 30px;
}
#navbarNav {
  padding: 3px 0 0 20px;
}
.image-component {
  margin-bottom: 30px;
}
